@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

body {
	background: linear-gradient(90deg, #C7C5F4, #776BCC);		
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
.col-lg-4 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.text-primary {
	color: #f6f5f2 !important;
}
.bg-dark {
	background-color: #3D464D !important;
}

a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
	background-color: #262c31 !important;
}
.bg-primary {
	background: linear-gradient(to bottom right, #d4bbed, #9b8cdb) !important;
}


a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
	background-color: #cce5ff;
}
.bg-light {
	background: linear-gradient(to bottom, #b7b5b5, #3f3f3f, #aba9a9) !important;
}



a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
	background-color: #e6e6e6 !important;
}

.px-2 {
	padding-right: 0.5rem !important;
	padding-left: 0.5rem !important;
}
.pt-3,
.py-3 {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}
.px-xl-5 {
	padding-right: 3rem !important;
	padding-left: 3rem !important;
}
.d-none {
	display: none !important;
}
.d-lg-flex {
	display: flex !important;
}
.ml-n1,
.mx-n1 {
	margin-left: -0.25rem !important;
}
a.text-primary:hover, a.text-primary:focus {
	color: #cce5ff !important;
}
.text-uppercase {
	text-transform: uppercase !important;
}
.align-items-center {
	align-items: center !important;
}

.screen {		
	background: linear-gradient(90deg, #5D54A4, #7C78B8);		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;

}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #6C63AC;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #5D54A4, #6A679E);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #7E7BB9;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login_start {
	width: 160px;
	text-align: left;
	color: #6b6a7f;
}

.login {
	width: 320px;
	padding: 90px 20px 20px;
}

.login__field {
	padding: 20px 0;
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px 10px 10px 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4C489D;
	box-shadow: 0 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.social-login {	
	position: absolute;
	height: 100px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0;
	color: #fff;
}
.signup {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.signup__text {
	font-size: 14px;
	padding: 10px 20px;
	color: #6b6a7f;
}

.signup__button {
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
	padding: 10px 20px;
	background-color: #4C489D;
	color: #fff;
	border-radius: 26px;
	text-transform: uppercase;
	font-weight: 700;
	transition: all 0.2s;
}

.signup__button:hover {
	background-color: #fff;
	color: #4C489D;
	box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.signup__button .button__icon {
	margin-left: 5px;
	font-size: 12px;
}


.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0 0 8px #7875B5;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}
